<h1 class='page-title'>Tech Blog Posts</h1>
{{#each posts}}
  <article class='post'>
    <h2>{{title}}</h2>
    <p class='post-meta'>By {{user.username}} on {{format_date createdAt}}</p>
    <p class='post-content'>{{content}}</p>
  </article>
{{/each}}